.dialogContent {
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  row-gap: 20px;
  gap: 20px;
  align-items: start;
}

.accountDetails {
  display: grid;
  grid-template-columns: 5fr 1fr;
  column-gap: 20px;
  gap: 20px;
}
